* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}
ul{
    list-style-type: none;
    background: lightskyblue;
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 20px 25px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
ul li ul.dropdown li {
    display: block;
}
ul li ul.dropdown{
    width: 100%;
    background: lightskyblue;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover {
    background: cornflowerblue;
}
ul li:hover ul.dropdown {
    display: block;
}
.gounda ul {
    list-style-type: disc;
    margin-left: 20px;
}

.gounda ul li {
    display: list-item;
    position: static;
}
article {
    width: 50%;
    float: right;
    padding: 10px;
}
body {
    background-color: cadetblue;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img {
    width: 500px;
    height: 200px;
    border: 2px solid black;
}
